@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  /* INPUTS */
  --transparent-bg: linear-gradient(white, white);
  --border-active: linear-gradient(to right, #6448fe, #600594);
  --border-error: #ff5252;
  /* OTHER */
  --white: white;
  --light-violet: #dedddf;
  --medium-violet: #8e8593;
  --dark-violet: #21092f;
  --dark-violet-hover: #600594;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
